.logout_btn {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #29242a;
  border-radius: 5px;
  max-width: 43%;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ffff;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background-color: #151215;
  }

  i {
    margin-left: auto;
  }
}