.wrapper {
  height: 100vh;
  display: flex;
  font-family: 'Roboto';
}

@media (max-width: 800px) {
  .pages {
    min-width: 100%;
  }

  .view {
    display: none;
  }

  .wrapper {
    flex-direction: column-reverse;
  }
}