.user__info__card {
  background-color: #29242a;
  border-radius: 5px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__username {
      color: #fff;
      font-size: 20px;
      margin-bottom: 5px;
    }

    &__about {
      color: #aab0b7;
      font-size: 17px;
      margin-bottom: 5px;
    }
  }
}