.chat-card {
  display: flex;
  width: 100%;
  background-color: #29242a;
  border: 1px solid rgba(47,42,48,.85);
  border-radius: .375rem;

  &__body {
    width: 100%;
    padding: 24px 20px;
  }

  &__content {
    display: flex;
    align-items: center;

  }

  &__avatar {
    margin-right: 20px;
    &-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  &__media {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    h6, p {
      color: #ffffff;
      font-size: 15px;
      white-space: nowrap;
    }

    h6 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 10px;
    }
  }

  &__text {
    color: #ffffff;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}