.nav {
  display: flex;
  background-color: #29242a;
  min-height: 100%;
  padding: 20px 30px;
  align-items: center;
  justify-content: center;

  &__menu {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 1200px) {
    flex-direction: row;
    width: 100%;
    min-height: 0;
    padding: 8px 20px;

    &__menu {
      flex-direction: row;
    }
  }
}