.view {
  width: 100%;
  background-color: #29242A;
}

.chat {
  display: flex;
  height: 100%;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid rgba(47,42,48,.85)!important;
    flex: 0 0 auto;

    &__avatar {
      margin-right: 20px;
      &-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    &__info {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;

      p {
        color: #aab0b7;
        font-size: 13px;
        line-height: 21px;
        font-weight: 400;
        white-space: nowrap;
      }

      h6 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        color: #ffffff;
      }
    }
  }

  &__messages {
    overflow-y: auto;
    height: 100px !important;
    flex: 1 0 auto;
  }

  &__footer {
    width: 100%;
    flex: 0 0 auto;
    padding: 10px 0 20px 0;
    border-top: 1px solid rgba(47,42,48,.85)!important;
  }
}

.style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: transparent;
}

.style-1::-webkit-scrollbar
{
  width: 12px;
  background-color: transparent;
}

.style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}