@font-face {
  font-family: 'Circe';
  src: url('../assets/font/circle/circe.eot'); /* IE 9 Compatibility Mode */
  src: url('../assets/font/circle/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../assets/font/circle/circe.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/font/circle/circe.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../assets/font/circle/circe.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/font/circle/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
}

@import "http://fonts.fontstorage.com/import/roboto.css";