$width-desktop: 1440px;
$width-tablet: 980px;
$width-mobile: 414px;
$width-min: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$font-family: "Circe",
"Arial",
sans-serif;
$font-base: 22px;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #8A8A8E;